<center>
  <h1><strong>Search by Artist</strong></h1>
  <div class="well col-md-4 col-md-offset-4">
    <form action="<%= setlists_path %>" method="get">
      <p>
        <%= text_field_tag :artistName, params[:artistName], placeholder: "Artist Name" %>
        <%= submit_tag "Find Setlists", :name => nil %>
      </p>
    </form>
    <p>
      <br /><%= link_to '<< Back to Homepage', root_path %>
    </p>
  </div>
</center>
