<center>
  <div class="page-header">
    <h1>Amplify</h1>
  </div>

  <div class="well">
    Amplify automatically generates a Spotify playlist based on a band or artist's previous show(s).
  </div>

  <% if current_user %>
    <div>
      <p><strong>Welcome, <%= current_user.name.capitalize %>!</strong></p>
      <p><strong><%= link_to "Search for a setlist", search_path %></strong></p>
    </div>
  <% end %>
</center>
