<center>
  <h1>Amplify</h1>

  <h4>
    Amplify automatically generates a Spotify playlist based on a band or artist's previous show(s).
  </h4>

  <% if current_user %>
    <p>Welcome, <%= current_user.name.capitalize %>!</p>
    <%= link_to "Log out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Log in with Spotify", login_path %>
  <% end %>
</center>
