// Place all the styles related to the entire page here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('http://i.imgur.com/ZEOMTbc.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#dark-bg {
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  color: rgb(240, 240, 240);
}

#light-bg {
  background-color: rgba(100, 100, 100, 0.18);
  border: none;
  color: rgb(225, 235, 240);
}

.center {
  width: 70%;
  margin-left: 15%;
}

#homepage {
  margin-top: 2%;
  background: none;
  border: none;
}

#header>h1 {
  font-size: 55px;
  font-family: 'Monoton';
  padding-bottom: 30px;
}
