<center>
  <div class="well">
    <h1>Oops!</h1>
    <h5>
      It looks like you've made your way to a page that doesn't exist. Return to the <%= link_to "home page", root_path %>.
    </h5>
  </div>
</center>
